<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DesktopWinforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="NotificationDB" connectionString="User Id= sa; Password=sqlisthebest; Initial Catalog=NotificationDB;Data Source=db-server;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="domain" value="parsswitch.net" />
		<add key="silent" value="false" />
		<add key="username" value="" />
		<add key="password" value="" />
		<add key="ou" value="" />
		<add key="aboutTitle" value="برنامه پیامرسان شرکت پارس سویچ" />
		<add key="aboutText" value="این برنامه به منظور ایجاد ارتباط سریع و بی واسطه بین کاربران سیستم های مختلف شرکت طراحی شده است." />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="rabbitusername" value="parsswitch" />
		<add key="rabbitpassword" value="123456*a" />		
	    <add key="host" value="backup-server.parsswitch.net" />
		<add key="port" value="9595" />
		<add key="mainWindowIsOpen" value="false" />
	</appSettings>

  <userSettings>
    <DesktopWinforms.Properties.Settings>
      <setting name="domain" serializeAs="String">
        <value>parsswitch.net</value>
      </setting>
      <setting name="silent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="ou" serializeAs="String">
        <value />
      </setting>
      <setting name="aboutTitle" serializeAs="String">
        <value>برنامه پیامرسان شرکت پارس سویچ</value>
      </setting>
      <setting name="aboutText" serializeAs="String">
        <value>این برنامه به منظور ایجاد ارتباط سریع و بی واسطه بین کاربران سیستم های مختلف شرکت طراحی شده است</value>
      </setting>
      <setting name="rabbitusername" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="rabbitpassword" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="hostname" serializeAs="String">
        <value>amqp://backup-server.parsswitch.net:5672</value>
      </setting>
    </DesktopWinforms.Properties.Settings>
  </userSettings>
</configuration>